@media (max-width: 1200px) {
  .section__about {
    flex-direction: column;
    gap: 2rem;
  }
  .section__about--right p {
    word-break: word-break;
  }
  .section__about--right {
    flex-direction: row;
    max-width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 2vw;
    gap: 1rem;
  }
}
@media (max-width: 992px) {
  .experience__left {
    flex-direction: column;
    justify-content: start;
    gap: 0.8rem;
    flex-shrink: 1;
  }
}

@media (max-width: 780px) {
  .nav__list {
    position: absolute;
    display: none;
    right: -60%;
    top: -5%;
    flex-direction: column;
    min-height: 100vh;
    width: 50%;
    padding-top: 20rem;
    background-color: var(--dark-main);
    color: var(--gray-2);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    backdrop-filter: blur(10px);
    z-index: 5;
    border-bottom-left-radius: 10px;
  }
  .nav__list--link {
    font-size: 2.5rem;
    margin-bottom: 3rem;
    display: block;
  }

  .nav__open {
    display: block;
  }
  .nav__close {
    display: block;
    position: absolute;
    top: 7%;
    right: 4%;
    background-color: var(--gray-2);
    font-size: 2rem;
    cursor: pointer;
    font-weight: 600;
    padding: 0.8rem;
    border-radius: 50%;
    color: var(--dark-main);
  }

  .hero__title--left,
  .hero__title--right,
  .bottom__left,
  .hero__title--dash {
    /* font-size: 2rem;
     */
    display: none;
  }
  .hero__title .mobile {
    display: block;
    font-size: 20vw;
    line-height: 1;
    text-align: center;
    font-size-adjust: 0.7;
  }
  .home__hero {
    margin-top: 5rem;
  }
  .projects {
    flex-direction: column;
    height: 100vh;
    gap: 1rem;
  }
  .projects.light {
    flex-direction: column;
  }
  .experience {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .experience__left {
    flex-basis: 0;
  }
  .experience__right {
    width: 100%;
  }

  .experience:first-of-type {
    margin-bottom: 20px;
  }
  .skills__heading::after {
    width: 70px;
    right: 45%;
  }
  .section__about--right {
    font-size: 1.6rem;
  }
}

@media (max-width: 500px) {
  .nav__list--link {
    font-size: 2rem;
  }
  .carousel {
    width: 300px;
    height: 250px;
  }
  .skills__heading::after {
    width: 65px;
    right: 44%;
  }
}
