@font-face {
  font-display: swap;
  font-family: "aeonik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/fonnts.com-Aeonik-Regular.ttf") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "aeonik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/fonnts.com-Aeonik-Bold.ttf") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Sofia Pro";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Sofia\ Pro\ Regular\ Az.otf") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Sofia Pro";
  font-style: medium;
  font-weight: 500;
  src: url("../fonts/Sofia\ Pro\ Medium\ Az.otf") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Sofia Pro";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/Sofia\ Pro\ Bold\ Az.otf") format("woff2");
}
/* bebas-neue-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/bebas-neue-v14-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
:root {
  /*========== Colors ==========*/
  --dark-main: #232121;
  --dark-secondary: #434040;
  --dark-tertiary: #656464;
  --hover-color: #cb450c;
  --gray-main: #cdcbcb;
  --gray-2: #f5f3f0;
  --gray-3: #edebe8;

  /*========== Font weight ==========*/
  --font-main: "aeonik";
  --font-secondary: "Sofia Pro";
  --font-heading: "Bebas Neue";
  --font-normal: 400;
  --font-medium: 500;
  --font-bold: 700;

  /*========== Font Size ==========*/
  --heading-font-size: 11rem;
  --heading-font-size-medium: 4rem;
  --heading-font-size-regular: 2.4rem;

  --body-font-size: 2.4rem;
  --body-font-size-regular: 1.8rem;
  --body-font-size-light: 1.4rem;

  /*========== Line Height ==========*/
  --line-height-1: 1.5;
  --line-heihgt-2: 1.4;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;

  /*========== Breakpoints==========*/
  --sm: 320px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1440px;
  --xxl: 1920px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%; /*1rem = 10px*/
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-main);
  overflow-x: hidden;
  background-color: var(--gray-2);
}
button {
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: currentColor;
  display: inline-block;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}
input,
textarea {
  border: none;
  outline: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 150rem;
  margin: 0 auto;
  padding-inline: 3rem;
}
.section {
  padding-block: 8rem 1.6rem;
}
.section-1 {
  padding-block: 4rem 1rem;
}
.grid {
  display: grid;
  gap: 2.4rem;
}
.section__title {
  font-size: var(--h1-font-size);
  font-family: var(--second-font);
  text-align: center;
  margin-bottom: 1.5rem;
}

/*=============== Cursor===============*/
#cursor {
  height: 10px;
  width: 10px;
  background-color: var(--hover-color);
  border-radius: 50%;
  position: absolute;
  z-index: var(--z-fixed);
}

/*=============== Navigation ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.6rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1.5px;
}
.nav__logo {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.nav__logo i {
  font-size: 2rem;
  transform: rotate(45deg);
}
.nav__logo p {
  font-weight: var(--font-bold);
  max-width: 2rem;
}

.nav__list {
  display: flex;
  gap: 3rem;
  align-items: center;
}
.nav__list--link {
  transition: all 0.2s ease;
  text-align: center;
  font-size: 1.4rem;
}
.nav__list--link:hover,
.nav__list--link:active {
  border: 1px solid var(--dark-secondary);
  /* width: fit-content; */
  padding: 1rem;
  border-radius: 50px;
  transform-origin: center;
  color: var(--hover-color);
}
.nav__open,
.nav__close {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

/*========== Home Hero Section ==========*/
.home__hero {
  margin-top: 8rem;
  padding-inline: 4rem;
  font-family: var(--font-heading);
}
.hero__title {
  line-height: 0.9;
  color: var(--dark-secondary);
  vertical-align: baseline;
  font-size-adjust: 0.7;
}
.mobile {
  display: none;
}
.home__hero .hero__title--top {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}
.overflow {
  overflow: unset;
  /* overflow: hidden; */
}
.hero__title--left {
  display: inline-block;
  letter-spacing: -1.68rem;
  font-size: 28rem;
  transform: translateX(0);
  word-break: break-word;
}
span {
  vertical-align: baseline;
  transition: all 0.2s ease;
}
.hero__title--left span:hover,
.hero__title--right span:hover,
.bottom__left span:hover
/* .hero__title--dash:hover */ {
  color: var(--hover-color);
}
.hero__title--dash {
  display: inline-block;
  will-change: transform;
  letter-spacing: -0.105em;
  font-size: 28rem;
  word-break: break-word;
  /* transform: scaleX(1.05); */
}
.tablet {
  display: none;
}
.hero__title--right {
  display: inline-block;
  letter-spacing: -1.68rem;
  word-break: break-word;
  font-size: 28rem;
}
.hero__title--bottom .overflow {
  display: inline-flex;
}
.hero__title--bottom {
  width: 100%;
  justify-content: space-between;
  /* margin-top: -4rem; */
  align-items: center;
}
@media (min-width: 768px) {
  .hero__title--bottom {
    display: flex;
  }
}
.bottom__left {
  flex-shrink: 0;
  letter-spacing: -1.68rem;
  font-size: 28rem;
  word-break: break-word;
}
.bottom__right {
  position: relative;
  z-index: 1;
  max-width: 32rem;
  width: 100%;
  padding: 2rem 0 5rem;
  /* display: flex;
  flex-direction: column; */
}
.hero__pargraph {
  color: var(--dark-tertiary);
  vertical-align: baseline;
  font-size: 1.8rem;
  line-height: 1.1;
}

/*========== About Section ==========*/
/* .section_about {
  background-color: var(--dark-main);
} */
