@font-face {
  font-display: swap;
  font-family: "aeonik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/fonnts.com-Aeonik-Regular.ttf") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "aeonik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/fonnts.com-Aeonik-Bold.ttf") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Sofia Pro";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Sofia\ Pro\ Regular\ Az.otf") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Sofia Pro";
  font-style: medium;
  font-weight: 500;
  src: url("../fonts/Sofia\ Pro\ Medium\ Az.otf") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Sofia Pro";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/Sofia\ Pro\ Bold\ Az.otf") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/bebas-neue-v14-latin-regular.woff2") format("woff2");
}
:root {
  /*========== Colors ==========*/
  --dark-main: #232121;
  --dark-secondary: #434040;
  --dark-tertiary: #656464;
  --hover-color: #cb450c;
  --gray-main: #cdcbcb;
  --gray-2: #f5f3f0;
  --gray-3: #edebe8;

  /*========== Font weight ==========*/
  --font-main: "aeonik";
  --font-secondary: "Sofia Pro";
  --font-heading: "Bebas Neue";
  --font-normal: 400;
  --font-medium: 500;
  --font-bold: 700;

  /*========== Font Size ==========*/
  --heading-font-size: 11rem;
  --heading-font-size-medium: 4rem;
  --heading-font-size-regular: 2.4rem;

  --body-font-size: 2.4rem;
  --body-font-size-regular: 1.8rem;
  --body-font-size-light: 1.4rem;

  /*========== Line Height ==========*/
  --line-height-1: 1.5;
  --line-heihgt-2: 1.4;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;

  /*========== Breakpoints==========*/
  --sm: 320px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1440px;
  --xxl: 1920px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%; /*1rem = 10px*/
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-main);
  overflow-x: hidden;
  background-color: var(--gray-2);
}
button {
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: currentColor;
  display: inline-block;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}
input,
textarea {
  border: none;
  outline: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 150rem;
  margin: 0 auto;
  padding-inline: 3rem;
}
.section {
  padding-block: 8rem 1.6rem;
}
.section-1 {
  padding-block: 6rem;
}
.grid {
  display: grid;
  gap: 2.4rem;
}
.section__title {
  font-size: var(--h1-font-size);
  font-family: var(--second-font);
  text-align: center;
  margin-bottom: 1.5rem;
}
.line__container {
  background-color: var(--dark-main);
}

.line {
  width: 90%;
  height: 2px;
  background-color: var(--gray-2);
  margin: 0 auto;
  display: block;
  border-radius: 10px;
}
/*=============== Cursor===============*/
#cursor {
  height: 10px;
  width: 10px;
  background-color: var(--hover-color);
  border-radius: 50%;
  position: absolute;
  z-index: var(--z-fixed);
}

/*=============== Navigation ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1.5px;
}
.nav__logo {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.nav__logo i {
  font-size: 2rem;
  transform: rotate(45deg);
}
.nav__logo p {
  font-weight: var(--font-bold);
  max-width: 2rem;
}

.nav__list {
  display: flex;
  gap: 3rem;
  align-items: center;
}
.nav__list--link {
  transition: all 0.2s ease;
  text-align: center;
  font-size: 1.4rem;
}
.nav__list--link:hover,
.nav__list--link:active {
  border: 1px solid var(--dark-secondary);
  /* width: fit-content; */
  padding: 1rem;
  border-radius: 50px;
  transform-origin: center;
  color: var(--hover-color);
}
.nav__open,
.nav__close {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

/*========== Home Hero Section ==========*/
.home__hero {
  margin-top: 8rem;
  margin-bottom: 5rem;
  padding-inline: 5rem;
  font-family: var(--font-heading);
  overflow: hidden;
}
.hero__title {
  line-height: 0.9;
  color: var(--dark-secondary);
  vertical-align: baseline;
  font-size-adjust: 0.7;
}
.mobile {
  display: none;
}
.home__hero .hero__title--top {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}
.overflow {
  overflow: unset;
  /* overflow: hidden; */
}
.hero__title--left {
  display: inline-block;
  letter-spacing: -1.68rem;
  font-size: 20vw;
  transform: translateX(0);
  word-break: break-word;
}
span {
  vertical-align: baseline;
  transition: all 0.2s ease;
}
.hero__title--left span:hover,
.hero__title--right span:hover,
.bottom__left span:hover
/* .hero__title--dash:hover */ {
  color: var(--hover-color);
}
.hero__title--dash {
  display: inline-block;
  will-change: transform;
  letter-spacing: -0.105em;
  font-size: 20vw;
  word-break: break-word;
  /* transform: scaleX(1.05); */
}
.tablet {
  display: none;
}
.hero__title--right {
  display: inline-block;
  letter-spacing: -1.68rem;
  word-break: break-word;
  font-size: 20vw;
}
.hero__title--bottom .overflow {
  display: inline-flex;
}
.hero__title--bottom {
  width: 100%;
  justify-content: space-between;
  /* margin-top: -4rem; */
  align-items: center;
}
@media (min-width: 768px) {
  .hero__title--bottom {
    display: flex;
  }
}
.bottom__left {
  flex-shrink: 0;
  letter-spacing: -1.68rem;
  font-size: 20vw;
  word-break: break-word;
}
.bottom__right {
  position: relative;
  z-index: 1;
  max-width: 32rem;
  width: 100%;
  padding: 2rem 0 5rem;
  /* display: flex;
  flex-direction: column; */
}
.hero__pargraph {
  color: var(--dark-tertiary);
  vertical-align: baseline;
  font-size: 1.8rem;
  line-height: 1.1;
}

/*========== About Section ==========*/
#about {
  background-color: var(--dark-main);
  padding-inline: 3rem;
  overflow: hidden;
}
.section__about {
  display: flex;
  gap: 15rem;
}
.section__about--left {
  align-self: center;
}
.section__about--left img {
  border-radius: 10px;
}
.section__about--right {
  color: var(--gray-main);
  font-family: var(--font-secondary);
  display: flex;
  gap: 2rem;
  flex-direction: column;
  font-size: 1.8rem;
  max-width: 500px;
  align-self: center;
  line-height: 1.5;
}

.download {
  color: #fff;
  padding: 1.5rem 2.5rem;
  border: 1px solid var(--gray-main);
  border-radius: 45px;
  cursor: pointer;
  font-weight: var(--font-medium);
  font-size: inherit;
  transition: all 0.3s ease;
}

.download:hover {
  background-color: var(--hover-color);
  border-color: transparent;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

/*========== Skills Section ==========*/
#skills {
  background-color: var(--dark-main);
  overflow: hidden;
}
.skills__heading {
  font-size: 5rem;
  font-weight: var(--font-medium);
  text-align: center;
  color: var(--gray-main);
  text-transform: uppercase;
  margin-bottom: 2rem;
  position: relative;
  font-family: var(--font-heading);
}
.skills__heading::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 100px;
  right: 47%;
  bottom: 0;
  background-color: var(--hover-color);
  border-radius: 50px;
}
.skills {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: center;
  padding: 3rem;
  justify-content: center;
}
.skill {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: var(--gray-3);
  flex-shrink: 0;
  padding: 2rem 3rem;
  border-radius: 10px;
  transition: all 0.3s ease;
  margin: 0;
  width: 250px;
}
.skill img {
  height: 50px;
}
.skill p {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: var(--font-medium);
  letter-spacing: 1.2px;
  font-family: var(--font-secondary);
  user-select: none;
}
.skill:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

/*========== Project Section ==========*/
#project {
  background-color: var(--dark-main);
}
.dark {
  background-color: var(--dark-main);
}
.light {
  background-color: white;
}
.projects {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: hidden;
  /* font-weight: 600; */
  /* font-size: 1.5em; */
  /* text-align: center; */
  position: relative;
  /* box-sizing: border-box; */
  /* padding: 10px; */
}

.projects__left {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.project__left--title {
  text-transform: uppercase;
  font-size: 3rem;
  color: var(--hover-color);
  font-family: var(--font-secondary);
}
.project__left--description {
  max-width: 500px;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--gray-3);
}
.projects.light {
  flex-direction: row-reverse;
  color: black;
}
.light .project__left--description {
  color: var(--dark-main);
}
.project__left--tech span {
  font-weight: var(--font-bold);
  margin-right: 0.8rem;
}
.project__left--tech {
  font-size: 1.6rem;
  text-transform: uppercase;
}
.project__left--button {
  display: flex;
  justify-content: space-between;
}
.project__left--button a {
  font-size: 2rem;
  transition: all 0.3s ease;
  padding: 1rem 1.5rem;
}
.project__left--button a:hover {
  border: 2px solid var(--hover-color);
  border-radius: 55px;
}
.projects__right img {
  border-radius: 10px;
}

/* Carousel */

.carousel {
  position: relative;
  width: 450px;
  height: 350px;
  overflow: hidden;
}

.carousel-item {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-item.active {
  opacity: 1;
}

.carousel-control {
  position: absolute;
  top: 50%;
  color: white;
  padding: 5px;
  cursor: pointer;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--font-medium);
  color: var(--gray-3);
  background-color: var(--dark-secondary);
}

.carousel-control.prev {
  left: 0;
}

.carousel-control.next {
  right: 0;
}
